body{
    direction: rtl;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    &:active{
        color: rgb(0, 102, 204);
    }   
}
button,select{
    padding: 7px;
}
.mtb_10{
    margin: 10px 0;
}
.red-color{
    color: red;
}